/*
editorcoder
SRJC CS55.13 Fall 2025
Week 14: Assignment 14: Final Headless CMS-Powered App 
ExtendedLore.module.css
2025-11-22
*/

/* Extended Lore Button Styles */
.ExtendedLoreButton {
  display: block;
  margin-top: 0.5rem;
  padding: 0.2rem 0.25rem;
  cursor: pointer;
}

.ExtendedLoreButton:disabled {
  cursor: wait;
}

/* Lore Button Styles */
.loreButton {
  display: block;
  margin-top: 0.5rem;
  padding: 0.2rem 0.25rem;
  cursor: pointer;
}
