/*
editorcoder
SRJC CS55.13 Fall 2025
Week 14: Assignment 14: Final Headless CMS-Powered App 
Header.module.css
2025-11-22
*/

.logo {
  display: flex;
  align-items: center;

  & img {
    margin-inline-end: 10px;
  }

  color: var(--color-white);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.logoIcon {
  font-size: 1.6rem;
  font-weight: 500;
}

